.app-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    color: rgba(0, 0, 0, 0.438);
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    height: 100vh;
    padding: 10px;
}

.task-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 30vw;
    padding: 5px;
}

.input-text{
    border: 1px solid #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 50%;
    background-color: transparent;
}

.input-text::placeholder{
    padding-left: 30px;
    color: #45454545;
}

.input-submit{
    background: none;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    cursor: pointer;
    outline:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.input-submit:focus{
    outline: none;
}

.input-submit:active{
    transform: translate(3px, 4px);
    box-shadow: 0px 0px 0px 0px;
    border: 2px solid rgba(0, 0, 0, 0.712);
}

#task-list{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.item{
    display: flex;
    
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
    padding: 5px;
}

.item-checked{
    text-decoration: line-through;
    font-style: italic;
}

.error{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    text-align: center;
    color: tomato;
}

.trash{
    background-image: url(./images/trash-alt-regular.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 8px;
    margin-left: 50px;
}

.listIcon{
    background-image: url(./images/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 750px) {

  .task-form{
      flex-direction: column;
  }

  .input-text{
      margin-bottom: 20px;
      width: 50vw;
  }

  .input-text::placeholder{
      text-align:center;
      padding: 0;
  }

  .input-submit{
      width: 40vw;
  }

}
